In [433]:
import pandas as pd

In [434]:
df_mer = pd.read_csv('MERCADONA_modificable')

In [435]:
#df_mer = df_mer.drop_duplicates()

In [436]:
#df_mer['name'] = df_mer['name'].drop_duplicates()

In [437]:
#df_mer = df_mer.dropna()

In [438]:
#df = df.drop(columns='Unnamed: 0.1.1').drop(columns='Unnamed: 0.1').drop(columns='Unnamed: 0')

In [439]:
#df['name'] = df.loc['name'].apply(lambda x: x.lower().replace('Bosque Verde', 'Génerico'))#.replace('Hacendado', 'Génerico'))

In [440]:
#df.to_csv('MERCADONA_modificable')

In [441]:
df_dia = pd.read_csv('DIA_modificable')
#df_dia = df_dia.drop(columns=['category','supermarket','insert_date'])
#df_dia['name'] = df_dia['name'].drop_duplicates()
#df_dia = df_dia.dropna()

In [442]:
df_carre = pd.read_csv('CARREFOUR_modificable')
#df_carre = df_carre.drop(columns=['category','supermarket','insert_date'])
#df_carre = df_carre.sort_values('name')
#df_carre = df_carre.dropna()

Aceite, Aceite, Agua, Refresco Cola, compresas, tampones, pañales ,pan de molde, platano, manzana, tomate, zanahorias, lavavajillas, lejia, fregasuelos

In [444]:
#df_mer=  df_mer.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'	])

In [452]:
df_mer=df_mer.reset_index()

In [454]:
df_mer = df_mer.drop(columns=['reference_price','reference_unit','Unnamed: 0','id','level_1','level_0'])

In [456]:
df_dia = df_dia.reset_index()

In [458]:
df_dia = df_dia.drop(columns=['reference_price','reference_unit','Unnamed: 0','id','level_1','level_0'])

In [460]:
df_carre = df_carre.reset_index()

In [462]:
df_carre =  df_carre.drop(columns=['reference_price','reference_unit','Unnamed: 0','id','level_1','level_0'])

In [463]:
df_carre

                                             Producto  Carrefour
0                      Aceite de girasol génerico 1l.       1.00
1   Aceite de oliva virgen extra génerico garrafa 5l.      16.95
2                      Agua mineral Font Vella 1,5 l.       0.60
3                                      Coca Cola 2 L.       1.50
4                            Refresco cola Pepsi 2 l.       1.22
5            EVAX fina y segura compresa sin alas 12u       1.56
6                  Pañal generico 36 unidades talla 5      10.44
7                  Pañal generico 36 unidades talla 6      11.52
8                   Pan de molde grande generico 820g       1.05
9                                 Plátano de Canarias       1.69
10                                 Manzana Golden 1kg       1.49
11                                  Tomate kumato 1kg       2.70
12                  lavavajillas fairy ultra líquido.       3.50
13                              lavavajillas generico       1.16
14                              friegasuelos generico       1.12
15                               Lejia generico litro       1.00

In [464]:
df_carre.to_csv('CARREFOUR_modificable')
df_dia.to_csv('DIA_modificable')
df_mer.to_csv('MERCADONA_modificable')